@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #1A2328;
  color: #C5C5C5;
  font-family: "Segoe UI",微軟正黑體; }

.wrap {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "content" "invoice" "checkbutton"; }

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .content h1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
  .content hr {
    border: none;
    height: 1px;
    width: 15%;
    background-color: #707070;
    margin-bottom: 23.5px; }
  .content .paygroup {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 29px; }
  .content .paybtn {
    width: 23%;
    height: 52px;
    border: 1px solid #185458;
    text-align: center;
    padding: 10px;
    color: #07C0C3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content .paybtn:hover {
      border: 1px solid #07C0C3;
      -webkit-box-shadow: 0px 0px 3px #07C0C3;
      box-shadow: 0px 0px 3px #07C0C3; }
  .content .paymentmethod {
    border: 1px solid #07C0C3;
    margin: 0 3%;
    padding: 20px;
    font-size: 14px;
    overflow: hidden; }
    .content .paymentmethod form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .content .paymentmethod form label {
        width: 100%;
        color: #07C0C3;
        margin-bottom: 5px; }
        .content .paymentmethod form label a {
          border: 1px solid #707070;
          border-radius: 50%;
          text-decoration: none;
          color: #707070;
          text-align: center;
          padding: 0 5px;
          margin-left: 4px;
          font-size: 12px; }
      .content .paymentmethod form input {
        width: 77%;
        line-height: 20px;
        background-color: #1A2328;
        border: none;
        border-bottom: 1px solid #707070;
        margin-bottom: 28.5px;
        color: #C5C5C5;
        padding: 1px; }
      .content .paymentmethod form .pin {
        width: 14.5%;
        text-align: center; }
      .content .paymentmethod form span {
        height: 20px;
        padding: 1px 6px;
        border-bottom: 1px solid #707070; }
      .content .paymentmethod form p {
        line-height: 20px;
        margin: 0 11.5px 0 5px; }
  .content .decoration {
    color: #185458;
    margin: 0 -10px -10px -10px;
    text-align: center;
    white-space: nowrap; }

.checkbutton {
  font-size: 20px;
  margin: 0 3%;
  border: 1px solid #185458;
  background-color: #00676E; }
